.App {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
}

.App--four {
  grid-template-columns: 1fr 1fr;
}

.controls {
  align-self: center;
  justify-self: center;
  display: grid;
  justify-items: center;
  grid-column: 1 / span 2;
  grid-auto-flow: column;
}

.App--four button div {
  font-size: 70px;
}

@media (min-width: 350px) {
  .App--four button div {
    font-size: 80px;
  }
}

@media (min-width: 400px) {
  .App--four button div {
    font-size: 95px;
  }
}

@media (min-width: 700px) {
  .App--four button div {
    font-size: 170px;
  }
}

@media (min-width: 1024px) {
  .App--four button div {
    font-size: 220px;
  }
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .App--four button div {
    font-size: 65px;
  }
}

@media screen and (min-width: 600px) and (orientation: landscape) {
  .App--four button div {
    font-size: 80px;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .App--four button div {
    font-size: 140px;
  }
}

@media screen and (min-width: 1300px) and (orientation: landscape) {
  .App--four button div {
    font-size: 210px;
  }
}

@media screen and (max-width: 1400px) and (orientation: landscape) {
  .App {
    height: 100vw;
  }
}
