.settings {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #141414;
    padding: calc(var(--grid) * 3);
    font-size: 24px;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    grid-row-gap: calc(var(--grid) * 6);
    z-index: 100;
}

.header {
    display: grid;
    line-height: 56px;
    grid-template-columns: auto 1fr;
    grid-column-gap: calc(var(--grid) * 2);
}

main {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: calc(var(--grid) * 2);
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: calc(var(--grid) * 2);
    justify-items: right;
}

.icon {
    position: relative;
    top: 6px;
}

.settingsGrid {
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-rows: auto auto;
    grid-row-gap: calc(var(--grid) * 3)
}

.minutes {
    font-size: 18px;
}

.max-time-input {
    font-size: 24px;
    text-align: center;
    height: calc(var(--grid) * 5);
    border-radius: var(--grid);
}

.checkedLeft, .checkedRight {
    display: block;
    line-height: 30px;
}

.checkedLeft {
    padding-left: 9px;
}

.checkedRight {
    padding-left: 13px;
}

@media screen and (orientation: landscape) {
    .settings {
        height: 100vw;
        width: 100vh;
    }
}