.settings {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #141414;
    padding: calc(var(--grid) * 3);
    font-size: 24px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: calc(var(--grid) * 4);
    z-index: 100;
}

.header {
    display: grid;
    line-height: 56px;
    grid-template-columns: 1fr auto;
}

main {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: calc(var(--grid) * 2);
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: calc(var(--grid) * 2);
    justify-items: right;
}

.icon {
    position: relative;
    top: 6px;
    margin-right: var(--grid);
}

.max-time-input {
    font-size: 24px;
    line-height: 32px;
    height: calc(var(--grid) * 5);
    padding: var(--grid);
    border-radius: var(--grid);
}

.checkedLeft, .checkedRight {
    display: block;
    line-height: 30px;
}

.checkedLeft {
    padding-left: 9px;
}

.checkedRight {
    padding-left: 13px;
}
