.timer {
    background: #222222;
    border-radius: var(--grid);
    margin: calc(var(--grid) * 2);
    display: grid;
    text-align: center;
    align-content: center;
    font-size: 150px;
    cursor: pointer;
}

@media (min-width: 400px) {
    .timer {
        font-size: 200px;
    }
}

@media (min-width: 1024px) {
    .timer {
        font-size: 250px;
    }
}

.timer--active {
    background: rgb(197, 36, 36);
}

.timer:first-child span {
    transform: rotate(180deg);
}
