.timer {
  background: #222222;
  border-radius: var(--grid);
  margin: calc(var(--grid) * 2);
  display: grid;
  text-align: center;
  align-content: center;
}

button {
  position: relative;
}

.time {
  font-size: 150px;
}

.rotateIcon {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  color: #c52424;
  display: grid;
  justify-content: center;
  align-content: center;
}

@media (min-width: 400px) {
  .time {
    font-size: 200px;
  }
}

@media (min-width: 1024px) {
  .time {
    font-size: 250px;
  }
}

.timer--active {
  background: var(--c-red);
}

.timer--active span {
  color: #222222;
}

:global(.responsive) .time {
  font-size: 70px !important;
}

@media (min-width: 350px) {
  :global(.responsive) .time {
    font-size: 80px !important;
  }
}

@media (min-width: 400px) {
  :global(.responsive) .time {
    font-size: 95px !important;
  }
}

@media (min-width: 700px) {
  :global(.responsive) .time {
    font-size: 170px !important;
  }
}

@media (min-width: 1024px) {
  :global(.responsive) .time {
    font-size: 220px !important;
  }
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  :global(.responsive) .time {
    font-size: 65px !important;
  }
}

@media screen and (min-width: 600px) and (orientation: landscape) {
  :global(.responsive) .time {
    font-size: 80px !important;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  :global(.responsive) .time {
    font-size: 140px !important;
  }
}

@media screen and (min-width: 1300px) and (orientation: landscape) {
  :global(.responsive) .time {
    font-size: 210px !important;
  }
}
